asn1crypto==0.24.0
certifi==2023.7.22
cffi==1.12.2
chardet==3.0.4
cryptography==42.0.2
cycler==0.10.0
idna==2.8
kiwisolver==1.1.0
libarchive-c==2.8
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.4.0
PySocks==1.6.8
python-dateutil==2.8.0
ruamel-yaml==0.15.46
six==1.12.0
torch==1.1.0
tqdm==4.32.1
urllib3==1.26.18
pytest==5.3.1
